<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Valkey-Windows"
           Manufacturer="Ascensio System SIA"
           Version="8.0.5"
           UpgradeCode="05410198-7212-4FC4-B7C8-AFEFC3DA0FBC"
           Compressed="true"
           InstallerVersion="200">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

          <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
          </StandardDirectory>

    <ComponentGroup Id="ValkeyServiceComponents" Directory="INSTALLFOLDER">
      <Component Id="ServiceExecutable">
        <File Source="ValkeyService.exe" />

        <ServiceInstall Id="ServiceInstaller"
                        Type="ownProcess"
                        Name="Valkey"
                        DisplayName="Valkey"
                        Description="Valkey"
                        Start="auto"
                        ErrorControl="normal" />

        <ServiceControl Id="StartService"
                        Start="install"
                        Stop="both"
                        Remove="uninstall"
                        Name="Valkey"
                        Wait="true" />
      </Component>
    </ComponentGroup>
         <ComponentGroup Id="ValkeyComponents" Directory="INSTALLFOLDER">
                <Files Include="*.dll" />
                <Files Include="*.conf" />
                <Files Include="*.md" />
                <File Source="valkey-benchmark.exe" />
                <File Source="valkey-check-aof.exe" />
                <File Source="valkey-check-rdb.exe" />
                <File Source="valkey-cli.exe" />
                <File Source="valkey-sentinel.exe" />
                <File Source="valkey-server.exe" />
                <File Source="LICENSE" />
         </ComponentGroup>

    <Feature Id="Valkey">
      <ComponentGroupRef Id="ValkeyServiceComponents"/>
      <ComponentGroupRef Id="ValkeyComponents"/>
    </Feature>
  </Package>
</Wix>
